body {
    background: red;
}

#map {
    height: 100%;
}

/* Optional: Makes the sample page fill the window. */

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.navn {
    font-size: 60px;
    font-family: onyx;
}

.beskrivelse {
    font-family: Arial, sans-serif;

}

/* Toggle switch */

.no-js #loader {
    display: none;
}
.js #loader {
    display: block;
    position: absolute;
    left: 100px;
    top: 0;
}
.se-pre-con {
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(logo.gif) center no-repeat #fff;
}
.onoffswitch {
    width: 90px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 1;
    margin-top: 45px;
    margin-left: 10px;
}
.onoffswitch-checkbox {
    display: none;
}
.onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid #999999;
    border-radius: 20px;
}
.onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before,
.onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "Overlay";
    padding-left: 5px;
    background-color: white;
    color: #999999;
}
.onoffswitch-inner:after {
    content: "Overlay";
    padding-right: 5px;
    background-color: #34A7C1;
    color: #FFFFFF;
    text-align: right;
}
.onoffswitch-switch {
    display: block;
    width: 18px;
    margin: 6px;
    background: #FFFFFF;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 56px;
    border: 2px solid #999999;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
}

/*Insta */

.instagram {
    float: right;
}

.link {
    font-size: 25px;
    display: block;
    padding-top: 90px;
    padding-bottom: 20px;
}

.beskrivelse {
    float: left;
}


/* slideshow */

.knap1 {
    position: absolute;
    top: 100px;
    padding: 15px;
}

.knap2 {
    position: absolute;
    top: 100px;
    left: 330px;
    padding: 15px;
}

.timeLine {
    width: 350px;
    display: block;
}


.slide {
    position:relative;
    left: 60px;
    width: 250px;
    height: 200px;
    margin-bottom: 10px;
    margin-top: 10px;
}

.pictureFade {
  animation-name: fade;
  animation-duration: 2s;
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

.marker.active {
    animation-name: pulse;
    animation-duration: 3s;
    animation-direction: alternate;
}
@keyframes pulse {
    0% {
        transform: scale(0.5, 0.5);
    }
    100% {
        transform: scale(1, 1);
    }
}

.answers li {
list-style: upper-alpha;
}

label {
margin-left: 0.5em;
cursor: pointer;
}

#results {
background: #dddada;
color: #000000;
padding: 3px;
text-align: center;
width: 200px;
cursor: pointer;
border: 1px solid gray;
}

#categorylist {
margin-top: 6px;
display: none;
}

#category1 {
display: none;
}

#closing {
display: none;
font-style: italic;
}
